# Título

## Título 2

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [2]:
print('Hola mundo')

Hola mundo

In [4]:
nombre = 'Alex'
nombre

'Alex'

In [5]:
edad=20
edad

20

In [6]:
sueldo=1.02344
sueldo

1.02344

In [7]:
#Comentario de python
edad_str='20'
sumar=int(edad_str)+edad
sumar

40

In [8]:
type(sumar)

int

In [9]:
type(edad_str)

str

In [10]:
type(sueldo)

float

In [11]:
"""
alksdjalsk djlaksjd klas
as
%debugsadasñdkñalsd kasñldk as
sñçdlka
 sdkasd
"""

'\nalksdjalsk djlaksjd klas\nas\n%debugsadasñdkñalsd kasñldk as\nsñçdlka\n sdkasd\n'

In [12]:
parrafo = """
Este es un parrafo
en python
"""

In [13]:
parrafo

'\nEste es un parrafo\nen python\n'

In [14]:
nombre_completo='Alex F'

In [15]:
nombre_completo.split(' ')

['Alex', 'F']

In [16]:
"Alex".isalpha()

True

In [17]:
print(f"Me gusta dormir {nombre_completo}")

Me gusta dormir Alex F