# Diccionarios

In [4]:
# JSON -> Diccionario
jose='Jose'
alex={
    'nombre':'Alex',
    'apellido':'F',
    'jose':jose,
    'edad':20,
    'hijos':None,
    'casado':False,
    'sueldo':12.2,
    'mascotas':[
        {
            'nombre':'guau guau',
            'edad':1,
            
        }
    ],
    'carro':(0,1,2)
}

In [5]:
alex['nombre']

'Alex'

In [7]:
alex['mascotas']

[{'nombre': 'guau guau', 'edad': 1}]

In [8]:
alex['mascotas'][0]

{'nombre': 'guau guau', 'edad': 1}

In [9]:
alex['mascotas'][0]['nombre']

'guau guau'

In [10]:
alex.get('nombre')

'Alex'

In [11]:
alex.get('mascotas')

[{'nombre': 'guau guau', 'edad': 1}]

In [12]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'jose': 'Jose',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau', 'edad': 1}],
 'carro': (0, 1, 2)}

In [13]:
alex.pop('jose')

'Jose'

In [14]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau', 'edad': 1}],
 'carro': (0, 1, 2)}

In [15]:
alex.values()

dict_values(['Alex', 'F', 20, None, False, 12.2, [{'nombre': 'guau guau', 'edad': 1}], (0, 1, 2)])

In [16]:
alex.keys()

dict_keys(['nombre', 'apellido', 'edad', 'hijos', 'casado', 'sueldo', 'mascotas', 'carro'])

In [17]:
type(alex.values())

dict_values

In [18]:
type(alex.keys())

dict_keys

In [19]:
for key in alex.keys():
    print(f"Llave: {key} Valor: {alex[key]}")

Llave: nombre Valor: Alex
Llave: apellido Valor: F
Llave: edad Valor: 20
Llave: hijos Valor: None
Llave: casado Valor: False
Llave: sueldo Valor: 12.2
Llave: mascotas Valor: [{'nombre': 'guau guau', 'edad': 1}]
Llave: carro Valor: (0, 1, 2)

In [21]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau', 'edad': 1}],
 'carro': (0, 1, 2)}

In [22]:
alex['jose']=jose

In [23]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau', 'edad': 1}],
 'carro': (0, 1, 2),
 'jose': 'Jose'}

In [24]:
valores_nuevos={
    'talia':'Talia',
    'rafa':'Rafico',
    'lula':'Lula'
}

In [25]:
alex.update(valores_nuevos)

In [26]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau', 'edad': 1}],
 'carro': (0, 1, 2),
 'jose': 'Jose',
 'talia': 'Talia',
 'rafa': 'Rafico',
 'lula': 'Lula'}

In [27]:
alex.get('mascotas')[0].update(valores_nuevos)

In [28]:
alex

{'nombre': 'Alex',
 'apellido': 'F',
 'edad': 20,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'guau guau',
   'edad': 1,
   'talia': 'Talia',
   'rafa': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'jose': 'Jose',
 'talia': 'Talia',
 'rafa': 'Rafico',
 'lula': 'Lula'}

In [29]:
alex.get('asd')